.wrapper_tab {
  display: flex;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  max-height: 664px;

  overflow-y: auto;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
