.section {
  display: flex;
  width: 100%;
  margin-top: 120px;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 272px 425px 1fr;
  grid-template-areas:
    "menu content content content"
    "subtitle content content content";
}
