.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

.items a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 64px;
}

.items a.active {
  color: white;
}
