.wrapper__center {
  max-width: 518px;
  width: 100%;
  text-align: center;
}
.items__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 518px;
  width: 100%;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
