.wrapper {
  flex-direction: column;
}
.list_items {
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  overflow-y: scroll;
}
.item {
  gap: 8px;
  width: 100%;
}
.wrapper_total {
  height: 64px;
  justify-content: end;
}
.modal_hidden {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
